Body{
    background-image: url('./Images/Background/moodBackground.jpeg');
    background-size: cover;
  }
  
  h1{
    text-align: center;
    font-style: italic;
    color: midnightblue;
  }
  
  .moodTable {
    width: 100%; 
    background-color: rgb(26, 134, 230);
  }
  
  img{
    width: 100%;
  }
  
  .buttonSet{
    width: 100%;
    text-align: center;
    height: 100px;
  }
  
  tr{
    align-items: center;
  }
  .btnSpecify{
    height: 50%;
    width: 30%;
  }

  button{
    font-size: large;
    font-weight: bold;
    background-color: lightblue;
  }